html, body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* 禁用全局滚动，由 #container 内部滚动 */
}

/* 总体使用grid布局 */
#container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(70px,1fr) 5fr;
  grid-template-rows: 3fr 1fr;
  min-height: 350px;
  overflow: auto;
  grid-template-areas: 
    'players card-pool'
    'players my-behaviour';
}
/* players部分使用flex纵向布局*/
#players{
  grid-area: players;
  display: flex;
  align-items:stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  gap:0.5rem;
  min-width: 0;
  overflow: hidden;
  background-color: azure;
  /* border: solid 1px springgreen; */
}
  /* 每一行内包含头像和筹码 */
  .one-player{
    border-radius: 10%;
    background-color: aliceblue;
    width:100%;
    height: 25px;
    box-sizing: border-box;
    display: flex;
    flex:none;
    }
  .me{
    background-color: blanchedalmond;
    }
  .profile-photo,.personal-bet{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:3px;
    }
  .profile-photo{
    aspect-ratio: 1/1;
    height:80%;
    width: auto;
    margin:auto;
    flex-shrink: 0; 
    border-radius: 50%;
    overflow: hidden;

    border: solid 1px rgba(0, 0, 0, 0.038);
  }
  .profile-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .personal-bet{
    flex-grow: 1;
    flex-shrink: 1;
    border: solid 1px rgba(0, 0, 0, 0.038);
    justify-content: center; 
    align-items: center; 
  }

/* card-pool部分采取grid布局嵌套flex布局，
使牌面居中对齐，牌堆单独居于左上角,自己的牌位于右上角 */
/* grid布局 */
#card-pool{
  grid-area: card-pool;
  display: grid;
  grid-template-areas: 
  'header my-card'
  'body body';
  grid-template-columns:70px 1fr ;
  grid-template-rows: 90px 1fr;
  height: 100%;
  min-height: 0; 
}

.header{
  grid-area: header;
  padding: 10px;
}
/* my-card部分采取flex布局 */
.my-card{
  grid-area: my-card;
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  gap:0.5rem;
  padding: 10px;
}
/*body使用 flex布局 */
.pool{
  grid-area: body;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 0.5rem;
  padding: 10px;
}

/* my-behaviour部分采取flex居中对齐 */
#my-behaviour{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:10px;
  min-height:0;
}