/* 先设计静态正面/背面牌面 */
.card,.cards{
  border: solid 1px rgba(0, 0, 0, 0.202);
  border-radius: 3px;
  width: 50px;
  height: 70px;
  box-sizing: border-box;
  font-family: Georgia, serif;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 1000px;

  display: flex; /* 使用flex布局内部元素 */
  justify-content: center;
  align-items: center;
  position: relative; /* 相对定位但不影响外部布局 */
}
/* 使剩余牌堆的数字居中 */
.cards div{
  display: inline-flex;
  /* align-self: center; */
  justify-content: center;
  align-items: center;
}

.card-front,.card-back{
  border-radius: 3px;
  backface-visibility: hidden;
  position: absolute; 
  width:inherit;
  height:inherit;
}
/* 翻转效果 */
.card-back{
  background: linear-gradient(135deg,rgb(225, 223, 223),55%,rgba(33, 33, 33, 0.99));
  transform:rotateY(0deg);
  z-index: 2; 
  /* border: 1px dashed red; */
}
.card-front{
  color: white;
  transform: rotateY(180deg); 
  z-index: 1; 
  /* border: 1px dashed rgb(47, 0, 255);  */
  display: flex; /* 使用flex布局内部元素 */
  justify-content: center;
  align-items: center;
}

.card.flipped .card-back {
  transform: rotateY(180deg); 
} /* 背面隐藏 */
.card.flipped .card-front {
  transform: rotateY(0deg); 
}  /* 正面可见 */

 /* 渲染背景 */
.card[data-suit='♦']{
  background-image: url(../sources/diamond.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:50px 70px;
}
.card[data-suit='♥']{
  background-image: url(../sources/heart.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:50px 70px;
}
.card[data-suit='♠']{
  background-image: url(../sources/spade.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:50px 70px;
}
.card[data-suit='♣']{
  background-image: url(../sources/club.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:50px 70px;
}